<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/driverinfo.css">
</head>

<body>
{{>navbar}}
<img src="/static/css/yellow-cars-city-taxi_566596-23 (1).jpeg" alt="" class="cabimg">
<div class=".container mb-5 mx-5 row cabbody" style="margin-top: 100px;">
  {{#if info}}
    <div class="col-5 profileside">
        <div class="display-6">Profile</div>
        <table class="table table-default">
          <tr>
            <td>Driver Id:</td>
            <td>{{info.driver_id}}</td>
          </tr>
          <tr>
            <td>Driver Name:</td>
            <td>{{info.driver_name}}</td>
          </tr>
          {{#if admin}}
          <tr>
            <td>Driver Address</td>
            <td>{{info.driver_address}}</td>
          </tr>
          {{/if}}
          <tr>
            <td>Mobile:</td>
            <td>{{info.mobile}}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{info.gender}}</td>
          </tr>
        </table>
    {{#if admin}}
    <a href="/admin/driverUpdate?driver_id={{info.driver_id}}" class="btn btn-primary">Update</a>
    <a href="/admin/driverDelete?driver_id={{info.driver_id}}" class="btn btn-primary">Delete</a>
    {{/if}}
    </div>
    <div>
    </div>
    {{else}}
    <div class="alert alert-danger">NO DRIVER FOUND</div>
    {{/if}}
</div>
{{>footer}}
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>