<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/booking.css">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
{{>navbar}}
<div class="container-fluid mb-3 d-flex flex-row justify-content-center" id="cabbody" >
    <img src="/static/css/yellow-cars-city-taxi_566596-23 (1).jpeg" alt="" class="cabimg">
	<div id = "cabtable">
  {{#if info.data}}
    <table class="table table-dark table-striped">
        <thead  class="thead-dark">
        <tr>
            <th>Ride Id</th>
            <th>Date of Booking</th>
            <th>Date of ride</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Ride Time</th>
            <th>Cost</th>
            <th>Driver Name</th>
            <th>View Invoice</th>
        </tr>
        </thead>
        <tbody>
        {{#each info.data}}
            <tr>
                <td>{{this.ride_otp}}</td>
                <td>{{this.date_of_booking}}</td>
                <td>{{this.date_of_ride}}</td>
                <td>{{this.location.dataValues.pickup}}</td>
                <td>{{this.location.dataValues.dropoff}}</td>
                <td>{{this.ride_time}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.cab.dataValues.customer.dataValues.f_name}} {{this.cab.dataValues.customer.dataValues.l_name}}</td>
                <td><a href="/profile/invoice?ride_otp={{this.ride_otp}}" style="text-decoration: underline; color : white;">INVOICE</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-danger">NO DATA FOUND</div>
    {{/if}}
    </div>
</div>
    <ul class="pagination ms-5" id="pageele" style="padding-bottom : 50px">
        <li class="page-item"><a class="page-link" href="?page={{prevPage}}"><<</a></li>
        <li class="page-item"><a class="page-link" href="?page={{currentPage}}">{{currentPage}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{nextPage}}">>></a></li>
    </ul>
{{>footer}}
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>